{#
/**
 * @file
 * Default theme implementation for a media layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {% if content.top %}
    <div {{ region_attributes.top.addClass('region--top') }}>
      {{ content.top }}
    </div>
  {% endif %}
  <div{{ attributes.addClass('row gx-8 gy-8') }}>
    <div{{ region_attributes.first.addClass('col-md-6', 'col-lg-4') }}>
      {{ content.first }}
    </div>
    <div{{ region_attributes.second.addClass('col-md-6', 'col-lg-4') }}>
      {{ content.second }}
    </div>
    <div{{ region_attributes.third.addClass('col-md-6', 'col-lg-4') }}>
      {{ content.third }}
    </div>
  </div>
  {% if content.bottom %}
    <div {{ region_attributes.bottom.addClass('region--bottom') }}>
      {{ content.bottom }}
    </div>
  {% endif %}
{% endif %}
